/* Global CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: #ffffff;
  color: #202124;
}

/* Scrollbar styling */
::-webkit-scrollbar {
  width: 16px;
}

::-webkit-scrollbar-thumb {
  background-color: #dadce0;
  border: 4px solid transparent;
  background-clip: content-box;
  border-radius: 8px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}
